main {
    position: relative;
    overflow: hidden;
}

div.game-mode-selection-container {
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;
}

input[type="text"]#typing-input {
    width: 100%;
}

span.text {
    width: 100%;
}

span.text.valid {
    color: var(--color-valid);
}

span.text.extra {
    text-decoration: line-through;
    color: var(--color-disabled);
}

span.text.invalid {
    color: var(--color-invalid);
}

span.text.untyped {
    color: var(--color-fg);
}